@use '../../style/var';

.container_content {
    margin-left: 15%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.testing {
    min-height: 105vh;
        .p_engine_eval {
            margin: auto;
        }
    .container_analysis_bt {
        width: 30%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
        margin: auto;
        //background-color: tomato;
        .analysis-bt {
            height: 100%;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bolder;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            box-shadow: var.$boxs;
            transition: .3s;
        }
    }
}

//Light mode

#light .testing {
    .container_analysis_bt {
        .p_engine_eval {
            color: black;
        }
        .analysis-bt {
            color: var.$white100;
            background-color: var.$wm-primary;
        }
        .analysis-bt:hover {
            background-color: var.$wm-primary-hover;
        }
    }
}

#dark .testing {
    .container_analysis_bt {
        .p_engine_eval {
            color: var.$white100;
        }
        .analysis-bt {
            color: var.$white100;
            background-color: var.$dm-primary;
        }
        .analysis-bt:hover {
            background-color: var.$dm-primary-hover;
        }
    }
}

.pieces_analysis {
    display: flex;
    z-index: 0;
    .pieces_analysis_container {
        margin-inline: auto;
        margin-top: 15px;
    }
}



@media screen and (max-width: 992px) {
    .container_content {
        margin-left: 20%;
    }
}

@media screen and (max-width: 768px) {
    .container_content {
        margin: 0;
        .container_analysis_bt {
            width: 100%;
        }
    }
    
}
