@use '../../style/var';

.testing {
    min-height: 105vh;
    .container_analysis_bt {
        width: 30%;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
        //background-color: tomato;
        .p_engine_eval {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 10%);
        }
        .analysis-bt {
            height: 100%;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bolder;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            box-shadow: var.$boxs;
            transition: .3s;
        }
    }
}

//Light mode

#light .testing {
    .container_analysis_bt {
        .p_engine_eval {
            color: black;
        }
        .analysis-bt {
            color: var.$white100;
            background-color: var.$wm-primary;
        }
        .analysis-bt:hover {
            background-color: var.$wm-primary-hover;
        }
    }
}

#dark .testing {
    .container_analysis_bt {
        .p_engine_eval {
            color: var.$white100;
        }
        .analysis-bt {
            color: var.$white100;
            background-color: var.$dm-primary;
        }
        .analysis-bt:hover {
            background-color: var.$dm-primary-hover;
        }
    }
}

.pieces_analysis {
    display: flex;
    .pieces_analysis_container {
        margin-inline: auto;
        margin-top: 15px;
    }
}


@media screen and (max-width: 1440px) {
    .container_content {
        margin-left: 15%;
    }
}

@media screen and (max-width: 880px) {
    .chessboard {
        left: 55%;
    }
}
@media screen and (max-width: 770px) {
    .pieces_analysis {
        margin-top: 15px;
    }
    
    .container_content {
        margin: 0;
    }
    .chessboard {
        left: 50%;
    }
    .testing {
        .container_analysis_bt {
            width: 90%;
        }
    }
}
