@use '../../style/var';

.home_main {
    min-height: 100vh;
    width: 100%;
    padding: 100px 0px;
    .home_main_h1 {
        margin-bottom: 100px;
        text-align: center;
        font-size: 35px;
    }
    .home_main_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .home_buttons {
            height: 80px;
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: bolder;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            box-shadow: var.$boxs;
            transition: .3s;
        }
        a {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
      
    }
    .home_second_section {
        width: 100%;
        p {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin: 50px 0px 10px 0px;
        }
        .home_board {
            margin: 0px auto 0px auto;
            border-radius: 5px;
            img {
                border-radius: 5px;
            }
        }
    }
}

//Light mode

#light .home_main {
    background-color: var.$white100;
    .home_main_h1 {
        color: var.$black100;
    }
    .home_main_section {
        a {
            .home_section_online {
                color: var.$white100;
                background-color: var.$wm-primary;
            }
            .home_section_online:hover {
                background-color: var.$wm-primary-hover;
            }
            .home_section_computer {
                color: var.$wm-b50;
                background-color: var.$wm-b10;
            }
            .home_section_computer:hover {
                background-color: var.$wm-b25;
            }
        }
    }
    .home_second_section {
        p {
            color: var.$wm-b50;
        }
    }
}

//Dark mode

#dark .home_main {
    background-color: var.$black100;
    .home_main_h1 {
        color: var.$white100;
    }
    .home_main_section {
        a {
            .home_section_online {
                color: var.$white100;
                background-color: var.$dm-primary;
            }
            .home_section_online:hover {
                background-color: var.$dm-primary-hover;
            }
            .home_section_computer {
                color: var.$dm-w80;
                background-color: var.$dm-w25;
            }
            .home_section_computer:hover {
                background-color: var.$dm-w50;
            }
        }
    }
    .home_second_section {
        p {
            color: var.$dm-w80;
        }
    }
}
