@use '../../style/var';

.play_bot {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    min-height: 100vh;

    .chessboard {
        margin: auto;
    }
    
    .difficulty_selector_wrapper {
        width: 360px;
        margin-inline: auto;
        padding-top: 15px;
        div {
            display: flex;
            width: 360px;
            justify-content: space-between;
            padding: 10px 5px;
            border-radius: 5px;
        }
    }
    
}

#light .background_control {
    background-color: var.$white100;
}

#light .difficulty_selector_wrapper {
    background-color: var.$white100;
    div {
        background-color: var.$wm-b10;
        p {
            color: var.$wm-b70;
        }
    }
}

#dark .background_control {
    background-color: var.$black100;
}

#dark .difficulty_selector_wrapper {
    background-color: var.$black100;
    div {
        background-color: var.$dm-w80;
        p {
            color: var.$wm-b70;
        }
    }
}
