@use '../../style/var';

.difficulty_selector_wrapper {
    display: flex;
    justify-content: center;
    div {
        display: flex;
        justify-content: space-between;
        width: 20vw;
    }
}

#light .background_control {
    //height: 100vh;
    background-color: var.$white100;
}

.chess_board_container {
    height: 100vh;
}

#dark .background_control {
    //height: 100vh;
    background-color: var.$black100;
}
