@media screen and (max-width: 768px) {
    .settings_main {
        .settings_main_options {
            li {
                h3 {
                    margin-bottom: 2%;
                }
            }
            .options_theme_button {
                margin: 0 0 0 7%;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .settings_main {
        height: 700px;
        width: 70%;
        margin: 0px 0px 0px 25%;
        .settings_main_options {
            li {
                h3 {
                    margin-bottom: 1%;
                }
            }
            .options_theme_button {
                margin: 0 0 0 5%;
            }
        }
    }
}

@media screen and (min-width: 993px) {
    .settings_main {
        height: 700px;
        width: 70%;
        margin: 0px 0px 0px 23%;
        .settings_main_options {
            li {
                h3 {
                    margin-bottom: 1%;
                }
            }
            .options_theme_button {
                margin: 0 0 0 3%;
            }
        }
    }
}