@use '../../style/var';

.settings_main {
    height: 600px;
    width: 90%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    h2 {
        display: flex;
        align-items: center;
    }
    .settings_main_options {
        margin: 20px 0px 0px 20px;
        li {
            font-weight: bold;
            list-style-type: none;
            h3 {
                font-size: 1.2em;
            }
            .options_theme_button {
                /*height: 35px;
                width: 35%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 2% 0px 2% 4%;*/
                font-size: 0.9em;
                font-weight: bolder;
                /*border: none;
                border-radius: 5px;
                outline: none;
                background-color: var.$wm-primary;
                box-shadow: var.$boxs;*/
                transition: .3s;
                cursor: pointer;
            }
        }
    }
}

//Light mode

#light .settings_main {
    background-color: var.$wm-b10;
    h2 {
        color: var.$wm-b50;
    }
    .settings_main_options {
        li {
            color: var.$wm-b50;
            .options_theme_button {
                color: var.$wm-b50;    
            }
            .white_mode:hover {
                color: var.$wm-b70;
            }
            .dark_mode:hover {
                color: var.$wm-b70;
            }
        }
    }
}

//Dark mode

#dark .settings_main {
    background-color: var.$dm-w10;
    h2 {
        color: var.$dm-w50;
    }
    .settings_main_options {
        li {
            color: var.$dm-w50;
            .options_theme_button {
                color: var.$dm-w50;    
            }
            .white_mode:hover {
                color: var.$dm-w70;
            }
            .dark_mode:hover {
                color: var.$dm-w70;
            }
        }
    }
}