@use '../../style/var';

.main_signin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    .signin_section {
        width: 100%;
        .section_signin_h1 {
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
        }
        .section_signin_p {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }
    }
    .main_form_signin {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .email_pass_icons {
                height: 60px;
                font-size: 2.2em;
                padding-left: 10px;
                border-radius: 5px 0px 0px 5px;
                margin-top: 30px;
            }
            .form_signin_text {
                height: 60px;
                width: 75%;
                font-size: 18px;
                margin-top: 30px;
                padding-left: 10px;
                border-radius: 0px 5px 5px 0px;
                border: none;
                outline: none;
            }
        }
        .form_signin_text {
            height: 60px;
            width: 80%;
            font-size: 18px;
            margin-top: 30px;
            padding-left: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
        }
        .form_signin_submit {
            height: 80px;
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: bolder;
            margin-top: 60px;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            box-shadow: var.$boxs;
            transition: .3s;
        }
    }
}

//Light mode

#light .main_signin {
    background-color: var.$white100;
    .signin_section {
        .section_signin_h1 {
            color: var.$black100;
        }
        .section_signin_p {
            color: var.$wm-b50;
        }
    }
    .main_form_signin {
        div {
            .email_pass_icons {
                background-color: var.$wm-b10;
                color: var.$wm-b50;
            }
            .form_signin_text {
                color: var.$wm-b50;
                background-color: var.$wm-b10;
            }
        }
        .form_signin_text {
            color: var.$wm-b50;
            background-color: var.$wm-b10;
        }
        .form_signin_submit {
            color: var.$white100;
            background-color: var.$wm-primary;
        }
        .form_signin_submit:hover {
            background-color: var.$wm-primary-hover;
        }
    }
}

//Dark mode

#dark .main_signin {
    background-color: var.$black100;
    .signin_section {
        .section_signin_h1 {
            color: var.$white100;
        }
        .section_signin_p {
            color: var.$dm-w50;
        }
    }
    .main_form_signin {
        div {
            .email_pass_icons {
                color: var.$dm-w80;
                background-color: var.$dm-w50;
            }
            .form_signin_text {
                color: var.$dm-w80;
                background-color: var.$dm-w50;
            }
            .form_signin_text::placeholder {
                color: var.$dm-w80;
                opacity: 1;
            }
            .form_signin_text::-ms-input-placeholder {
                color: var.$dm-w80;
            }

        }
        
        .form_signin_submit {
            color: var.$white100;
            background-color: var.$dm-primary;
        }
        .form_signin_submit:hover {
            background-color: var.$dm-primary-hover;
        }
    }
}