@use './var';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#light .background_control {
    background-color: var.$white100;
}

#dark .background_control {
    background-color: var.$black100;
}

.background_control {
    min-height: 100vh;
    z-index: 0;
}
