$white100: #FFFF;
$black100: #181818;
$boxs: box-shadow 2px 2px 3px #0000000d;

//White mode
$wm-primary: #2000AC;


$wm-b70: #171717b3;
$wm-b50: #17171780;
$wm-b25: #17171740;
$wm-b10: #1717171a;
$wm-b5: #1717170d;

//Dark mode
$dm-primary: #7151FF;

$dm-w80: #ffffffcc;
$dm-w70: #ffffffb3;
$dm-w50: #ffffff80;
$dm-w25: #ffffff40;
$dm-w10: #ffffff1a;
$dm-w5: #ffffff0d;