.chessboard {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

@media screen and (max-width: 628px) {
    .square {
        height: 45px !important;
        width: 45px !important;
    }
}


@media screen and (max-width: 400px) {
    .square {
        height: 40px !important;
        width: 40px !important;
    }
}
