.chessboard {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media screen and (max-width: 780px) {
    .chessboard {
        left: 50%;
    }
}

@media screen and (max-width: 628px) {
    .square {
        height: 45px !important;
        width: 45px !important;
    }
}


@media screen and (max-width: 400px) {
    .square {
        height: 40px !important;
        width: 40px !important;
    }
}
