@media screen and (max-width: 1200px) {
    .footer_component {
        gap: 10px;
    }
}

@media screen and (max-width: 576px) {
    .footer_component {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .footer_component {
        min-height: 300px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .footer_component {
        min-height: 330px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 90px 0px 0px 30%;
    }
}

@media screen and (min-width: 993px) {
    .footer_component {
        min-height: 300px;
        display: flex;
        justify-content: space-around;
        padding: 90px 0px 0px 15%;
    }
}
