@use './var';
.footer_component {
    min-height: 350px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: static;
    padding: 10% 10% 10px 10%;
    //margin-top: 10%;
    background-color: var.$black100;
    .footer_section {
        h2 {
            //margin-bottom: 10px;
            color: var.$white100;
        }
        ul {
            li {
                margin-bottom: 5px;
                list-style: none;
                color: var.$dm-w70;
                a {
                    text-decoration: none;
                    color: var.$dm-w70;
                    transition: .2s;
                }
                a:hover {
                    //text-decoration: underline;
                    color: var.$dm-primary;
                }
            }
            li:first-child {
                margin-top: 5px;
            }
        }
        /*.section_logo_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            .pawn_icon {
                font-size: 2em;
                margin-bottom: 20px;
                color: var.$wm-primary;
            }
        }*/
        .section_icons_wrapper {
            display: flex;
            align-items: center;
            .footer_icons {
                color: var.$dm-w70;
                transition: .3s;
            }
            .footer_icons:hover {
                color: var.$dm-primary;
            }
            .github_icon {
                font-size: 2.1em;
                margin-right: 10px;
            }
            .linkedin_icon {
                font-size: 2em;
                margin-right: 10px;
            }
            .discord_icon {
                font-size: 2.6em;
            }
        }
      
    }
}

//Light mode

#light .footer_component {
    background-color: var.$wm-b1;
    .footer_section {
        h2 {
            //margin-bottom: 10px;
            color: var.$black100;
        }
        ul {
            li {
                color: var.$wm-b70;
                a {
                    color: var.$wm-b70;
                }
                a:hover {
                    //text-decoration: underline;
                    color: var.$wm-primary;
                }
            }
        }
        .section_icons_wrapper {
            .footer_icons {
                color: var.$wm-b70;
            }
            .footer_icons:hover {
                color: var.$wm-primary;
            }
        }
    }
}

//Dark mode

#dark .footer_component {
    background-color: var.$black100;
    .footer_section {
        h2 {
            //margin-bottom: 10px;
            color: var.$white100;
        }
        ul {
            li {
                color: var.$dm-w70;
                a {
                    color: var.$dm-w70;
                }
                a:hover {
                    //text-decoration: underline;
                    color: var.$dm-primary;
                }
            }
        }
        .section_icons_wrapper {
            .footer_icons {
                color: var.$dm-w70;
            }
            .footer_icons:hover {
                color: var.$dm-primary;
            }
        }
    }
}


