@use './var';

.logo_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    .pawn_icon {
        font-size: 2em;
        margin-bottom: 15px;
        color: var.$wm-primary;
    }
}

//Light mode

#light .logo_wrapper {
    .pawn_icon {
        color: var.$wm-primary;
    }
}

//Dark mode

#dark .logo_wrapper {
    .pawn_icon {
        color: var.$dm-primary;
    }
    h2 {
        color: var.$white100;
    }
}