@use './var';

//Horizontal nav

.header_nav_horizontal {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var.$white100;
    .fixed_header_container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
        .header_section_nav {
            display: flex;
            align-items: center;
            .menuh_icon {
                font-size: 2em;
                margin: 0 10px 10px 0px;
                color: var.$black100;
                cursor: pointer;
            }
        }

        .header_aside_account {
            .account_signup {
                height: 30px;
                width: 75px;
                font-size: 16px;
                font-weight: bold;
                color: var.$wm-b50;
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: var.$wm-b10;
                box-shadow: var.$boxs;

                margin-right: 10px;
                transition: .3s;
            }
            .account_signup:hover {
                background-color: var.$wm-b25;
            }
            .account_signin {
                height: 30px;
                width: 75px;
                font-size: 16px;
                font-weight: bold;
                color: var.$white100;
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: var.$wm-primary;
                box-shadow: var.$boxs;
                transition: .3s;
            }
            .account_signin:hover {
                background-color: var.$wm-primary-hover;
            }
        }
    }
}

.nav_res_container {
    height: 100vh;
    width: 100%;
    z-index: 1000;
    padding-top: 50px;
    background-color: var.$white100;
    position: absolute;
    z-index: 3;
    .nav_horizontal_ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        .game-analysis-width {
            width: 170px;
        }
        li {
            width: 120px;
            height: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            cursor: pointer;
            //background-color: tomato;
            
            .horizontal_icon {
                font-size: 1.5em;
                color: var.$wm-b50;
                margin-right: 10px;
            }
            p {
                font-size: 18px;
                font-weight: 750;
                color: var.$wm-b50;
            }
        }
    }
}

//Light mode

#light .header_nav_horizontal {
    background-color: var.$white100;
    .fixed_header_container {
        .header_section_nav {
            .menuh_icon {
                color: var.$black100;
            }
        }

        .header_aside_account {
            .account_signup {
                color: var.$wm-b50;
                background-color: var.$wm-b10;
            }
            .account_signup:hover {
                background-color: var.$wm-b25;
            }
            .account_signin {
                color: var.$white100;
                background-color: var.$wm-primary;
            }
            .account_signin:hover {
                background-color: var.$wm-primary-hover;
            }
        }
    }
}

#light .nav_res_container {
    background-color: var.$white100;
    .nav_horizontal_ul {
        a {
            text-decoration: none;
        }
        li {
            .horizontal_icon {
                color: var.$wm-b50;
            }
            p {
                color: var.$wm-b50;
            }
        }
    }
}

//Dark mode

#dark .header_nav_horizontal {
    background-color: var.$black100;
    .fixed_header_container {
        .header_section_nav {
            .menuh_icon {
                color: var.$white100;
            }
        }
        .header_aside_account {
            .account_signup {
                color: var.$dm-w80;
                background-color: var.$dm-w25;
            }
            .account_signup:hover {
                background-color: var.$dm-w50;
            }
            .account_signin {
                color: var.$white100;
                background-color: var.$dm-primary;
            }
            .account_signin:hover {
                background-color: var.$dm-primary-hover;
            }
        }
    }
}

#dark .nav_res_container {
    background-color: var.$black100;
    .nav_horizontal_ul {
        a {
            text-decoration: none;
        }
        li {
            .horizontal_icon {
                color: var.$dm-w50;
            }
            p {
                color: var.$dm-w50;
            }
        }
    }
}

//Vertical nav

.header_nav_vertical {
    height: 100vh;
    width: 20%;
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 0px 0px 10px;
    background-color: var.$wm-b10;
    .nav_vertical_ul {
        a {
            text-decoration: none;
        }
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 35px 0px 20px 0px;
            list-style: none;
            cursor: pointer;
            .vertical_icon {
                font-size: 1.3em;
                color: var.$wm-b50;
                margin-right: 10px;
            }
            p {
                font-size: 16px;
                font-weight: 750;
                color: var.$wm-b50;
            }
        }
    }
    .header_aside_account_vertical {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        .account_signup {
            height: 30px;
            width: 90%;
            font-size: 16px;
            font-weight: bold;
            color: var.$wm-b50;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: var.$wm-b10;
            box-shadow: var.$boxs;

            margin-right: 10px;
            transition: .3s;
        }
        .account_signup:hover {
            background-color: var.$wm-b25;
        }
        .account_signin {
            height: 30px;
            width: 90%;
            font-size: 16px;
            font-weight: bold;
            color: var.$white100;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: var.$wm-primary;
            box-shadow: var.$boxs;
            transition: .3s;
        }
        .account_signin:hover {
            background-color: var.$wm-primary-hover;
        }
    }
}

//Light mode

#light .header_nav_vertical {
    background-color: var.$wm-b10;
    .nav_vertical_ul {
        a {
            text-decoration: none;
        }
        li {
            .vertical_icon {
                color: var.$wm-b50;
            }
            p {
                color: var.$wm-b50;
            }
        }
    }
    .header_aside_account_vertical {
        .account_signup {
            color: var.$wm-b50;
            background-color: var.$wm-b10;
        }
        .account_signup:hover {
            background-color: var.$wm-b25;
        }
        .account_signin {
            color: var.$white100;
            background-color: var.$wm-primary;
        }
        .account_signin:hover {
            background-color: var.$wm-primary-hover;
        }
    }
}

//Dark mode

#dark .header_nav_vertical {
    background-color: var.$dm-w5;
    .nav_vertical_ul {
        a {
            text-decoration: none;
        }
        li {
            .vertical_icon {
                color: var.$dm-w50;
            }
            p {
                color: var.$dm-w50;
            }
        }
    }
    .header_aside_account_vertical {
        .account_signup {
            color: var.$dm-w80;
            background-color: var.$dm-w25;
        }
        .account_signup:hover {
            background-color: var.$dm-w50;
        }
        .account_signin {
            color: var.$white100;
            background-color: var.$dm-primary;
        }
        .account_signin:hover {
            background-color: var.$dm-primary-hover;
        }
    }
}
