@media screen and (min-width: 769px) and (max-width: 992px) {
    .header_nav_horizontal {
        display: none;
    }
    .header_nav_vertical {
        display: flex;
    }
}

@media screen and (min-width: 993px) {
    .header_nav_horizontal {
        display: none;
    }
    .header_nav_vertical {
        display: flex;
        width: 15%;
    }
}