@media screen and (min-width: 769px) and (max-width: 992px) {
    .header_nav_horizontal {
        display: none;
        z-index: 999;
    }
    .nav_res_container {
        display: none;
    }
    .header_nav_vertical {
        display: flex;
    }
}

@media screen and (min-width: 993px) {
    .header_nav_horizontal {
        display: none;
    }
    .nav_res_container {
        display: none;
    }
    .header_nav_vertical {
        display: flex;
        width: 15%;
    }
}

@media screen and (max-width: 400px) {
    .header_aside_account {
        flex-direction: column;
        display: flex;
        margin-top: 0.5rem;
    }
}
