@use '../../style/var';

#light .background_control {
    //height: 100vh;
    background-color: var.$white100;
}

.chess_board_container {
    height: 100vh;
    .username_container {
        height: 580px;
        width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 55%;
        left: 55%;
        transform: translate(-50%, -50%);
        z-index: 1;
        .span1 {
            display: flex;
            justify-content: end;
            //text-align: right;
            p {
                height: 35px;
                width: fit-content;
                padding: 5px 5px 5px 40px;
                border-radius: 5px 0px 0px 5px;
                background-color: lightgray;
                box-shadow: var.$boxs;
            }
        }
        .span2 {
            display: flex;
            justify-content: start;
            //text-align: left;
            p {
                height: 35px;
                width: fit-content;
                padding: 5px 40px 5px 5px;
                border-radius: 0px 5px 5px 0px;
                background-color: lightgray;
                box-shadow: var.$boxs;
            }
        }
    }
}

#dark .background_control {
    //height: 100vh;
    background-color: var.$black100;
}

@media screen and (max-width: 780px) {
    .chess_board_container {
        
        .username_container {
            left: 50%;
            
        }
    }
}

@media screen and (max-width: 514px) {
    .chess_board_container {
        .username_container {
            height: 450px;
            width: 400px;
        }
    }
}

@media screen and (max-width: 400px) {
    .chess_board_container {
        .username_container {
            width: 330px;
        }
    }
}
