[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-mail = "*"
flask-praetorian = "*"
flask-cors = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.8"
